/*
 * Copyright (C) 2011 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am3517.dtsi"

/ {
	model = "Variscite SOM AM35 - IoT-LAB";
	compatible = "var,am35", "ti,am3517", "ti,omap3";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x10000000>; /* 256 MB */
	};

	vmmc_fixed: vmmc {
		compatible = "regulator-fixed";
		regulator-name = "vmmc_fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};
};

&davinci_emac {
	status = "okay";
	local-mac-address = [ f8 dc 7a 01 99 69 ];
};

&davinci_mdio {
	status = "okay";
};

&i2c1 {
	clock-frequency = <400000>;
	rtc@68 {
		compatible = "dallas,ds1307";
		reg = <0x68>;
	};
};

&i2c2 {
	clock-frequency = <400000>;
};

&i2c3 {
	clock-frequency = <400000>;
};

&mmc1 {
	vmmc-supply = <&vmmc_fixed>;
	bus-width = <4>;
};

&mmc2 {
	status = "disabled";
};

&mmc3 {
	status = "disabled";
};


&aes {
    status = "disabled";
};
&sham {
    status = "disabled";
};
&smartreflex_core {
    status = "disabled";
};
&usb_otg_hs {
    status = "disabled";
};
